@import "tailwindcss";

@theme {
    --font-work : "Work Sans";
    --font-inter : "Inter";
}


.labelclass{
    @apply flex flex-col gap-1 
}

.inputname{
    @apply font-inter text-xl font-medium
}

.authinput{
    @apply outline-none ring-0 border-zinc-900 rounded-md w-160 focus:border-sky-500 transition font-inter text-xl py-1 border-2
}

.radioinput{
    @apply flex gap-1 items-center  border w-full py-2 px-1 rounded-md transition
}
.filterbutton{
    @apply flex gap-1 items-center border w-full  rounded-md transition
}

.formanimate-enter-active,
.formanimate-leave-active {
  @apply duration-100;
}

.formanimate-enter-from,
.formanimate-leave-to {
  @apply scale-0;
}